@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
        </tr>
    </thead>
    <tbody>
    <td>
        @Model.Name
    </td>
    <td>
        @if (Model.BirthDate != null)
        {
            @Model.BirthDate
        }
    </td>
    </tbody>
</table>