@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("Add New Customer", "CustomerForm",null, new { @class = "btn btn-primary" })
<br /><br />
    
        <table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>MembershipType Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>               
            </tbody>
        </table>   

@section scripts
    {
        <script>
            $(document).ready(function () {
               var table = $('#customers').DataTable({
                    ajax: {
                        url: 'api/customers',
                        dataSrc:""
                    },
                    columns: [
                        {
                            data: "name",
                            render: function (data, type, customer) {
                                return "<a href='customers/edit/" + customer.id + "'>"+customer.name+"</a>";
                            }
                        },
                        {
                            data:"membershipType.name",
                        },
                        {
                            data: "id",
                            render: function (data) {
                                return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                            }
                        }
                    ]
                });

                $('#customers').on('click','.js-delete', function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete the Customer?", function(result){
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "Delete",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();                                    
                                }
                            });
                        }
                    });                    
                });
            });
        </script>
    }

